.clear
{
	clear:both;
}

/* ----------- Home Page CSS ------------- */

.email
{
	padding:10px;
	border-bottom:solid 1px black;
}

/* ----------- Email View CSS ------------ */

#messages
{
	margin:30px 0 0 0;
}

/* ----------- New Email Page CSS -------- */
.button
{
	padding:10px;
	border-radius:3px;
	background:lightgray;
	width:120px;
	text-align:center;
}

#loading
{
	display:none;
}

#subject
{
	width:500px;
}

#emailTemplate
{
	resize:none;
	width:500px;
	height:200px;
}

#emailTemplateHolder
{
	display:none;
}

#addRecipient
{
	display:none;
}

#fields
{
	display:none;
}

#headers
{
	border:solid 1px black;
}

#recipients
{
	border:solid 1px black;
	display:none;
}

.recipientRow
{
	
}

.header
{
	float:left;
	width:150px;
	border:solid 1px black;
}

.field
{
	float:left;
	width:150px;
	border:solid 1px black;
	padding:10px;
}

#viewPreviews
{
	display:none;
}