.clear
{
	clear:both;
}

#addRecipient
{
	display:none;
}

#fields
{
	display:none;
}

#headers
{
	border:solid 1px black;
}

#recipients
{
	border:solid 1px black;
	display:none;
}

.recipientRow
{
	
}

.header
{
	float:left;
	width:150px;
	border:solid 1px black;
}

.field
{
	float:left;
	width:150px;
	border:solid 1px black;
}